:root {
  --background: #FDE8B7;
  --mainBackground: rgba(255, 255, 255, 0.9);
  --font: #EC6806;
  --header: #fff;
  --calculator: #212121;
  --screen: #86bcc6;
  --buttons: #414141;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: var(--font);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  background: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: var(--background);
  color: var(--font);
  height: 80px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  text-align: left;
  cursor: pointer;
}

.nav a {
  color: var(--font);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3px;
}

.nav {
  display: flex;
  gap: 35px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 50px auto;
  padding: 40px;
  background-color: var(--mainBackground);
  border-radius: 9px;
}

.home {
  font-size: 22px;
}

.menu {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu img {
  width: 150px;
}

.contact {}